{% extends 'base.html.twig' %}

{% block title %}Les temoignages{% endblock %}

{% block body %}
<style> 
        body{
        font-family: "Gill Sans", sans-serif;
        }
    </style>

    <h1 style="margin-top:20px;margin-bottom:20px; " class="blockquote text-center">Les temoignages</h1>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Auteur</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for temoignage in temoignages %}
            <tr>
                <td>{{ temoignage.auteur }}</td>
                <td>{{ temoignage.libelle }}</td>
                <td>{{ temoignage.photo }}</td>
                <td>
                    <a class="btn btn-secondary"href="{{ path('temoignages_show', {'id': temoignage.id}) }}">Voir</a>
                    <a class="btn btn-secondary"href="{{ path('temoignages_edit', {'id': temoignage.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun témoignage</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary"href="{{ path('temoignages_new') }}">Crée un nouveau témoignage</a>
{% endblock %}
