<h1> Email Site Web </h1>
<p> Nom: {{ contact.nom }} </p>
<p> Prenom: {{ contact.prenom }} </p>
<p> Telephone: {{ contact.telephone }} </p>
<p> Mail: {{ contact.email }} </p>
<p> Libelle: {{ contact.libelleContact|raw }} </p>